<div class="cart-recap">
  <h2 class="summary-title">Récapitulatif du panier</h2>
  <div class="warn-box" *ngIf="!checkForStockAll(products)">
    <mat-icon class="material-icons-outlined">warning</mat-icon>
    <p>Attention, certains produits ne sont pas en stock</p>
  </div>
    <mat-table [dataSource]="products">
      <ng-container matColumnDef="product" class="product-column">
        <mat-header-cell *matHeaderCellDef>Produit</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.presentation.medicaments[0].nomMedicament}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="stock" class="stock-column">
        <mat-header-cell *matHeaderCellDef>Stock</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span class="hors-stock-chip" *ngIf="element.presentation.stockLogique <= 0;">Hors Stock</span>
          <span class="partial-stock-chip" *ngIf="!checkForStock(element) && element.presentation.stockLogique>0;">{{element.presentation.stockLogique}} en Stock</span>
          <span class="en-stock-chip" *ngIf="checkForStock(element) && element.presentation.stockLogique>0;">En Stock</span>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="price" class="price-column">
        <mat-header-cell *matHeaderCellDef>Prix</mat-header-cell>
        <mat-cell *matCellDef="let element">{{totalElementPrice(element)}}€</mat-cell>
      </ng-container>
      <ng-container matColumnDef="quantity" class="quantity-column">
        <mat-header-cell *matHeaderCellDef>Quantité</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.quantite}}</mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="['product','stock', 'quantity', 'price']"></mat-header-row>
      <mat-row *matRowDef="let row; columns: ['product','stock', 'quantity', 'price']"></mat-row>
    </mat-table>
  <div class="total">
    <h2>Total :</h2>
    <h2>{{totalPrice(products)}}€</h2>
  </div>
</div>
<div class="confirmation-btn">
  <button mat-raised-button color="accent" class="continue-shopping ending-bt" (click)="emitStep(0)">Annuler</button>
  <button mat-raised-button color="primary" class="validate-cart ending-btn" (click) = "validateCart()">Confirmer</button>
</div>
