@import 'src/colors';

.cart-recap {
  display: flex;
  flex-direction: column;

  .summary-title {
    font-weight: 500;
    font-size: 1.6rem;
    letter-spacing: 0;
    padding-bottom: 1.7rem;
    border-bottom: 0.1rem solid #ccc;
    margin-bottom: 2.1rem;
  }

  table {
    border-collapse: collapse;
    letter-spacing: 1px;
    font-family: sans-serif;
    font-size: 1rem;
    border-spacing: 1rem;

    thead {
      border-bottom: 0.1rem solid $dark-pastel-green;
    }
  }

}
.confirmation-btn {
  display: flex;
  margin: 2rem;
  justify-content: space-between;
}

.total{
  display: flex;
  justify-content: space-around;
}

mat-row {
  display: inline-flex;
  min-width: 100%;
}

.hors-stock-chip{
  background-color: #f44336;
  color: white;
  font-size: .8rem;
  font-weight: 500;
  letter-spacing: 0;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  margin-left: 1rem;
}

.partial-stock-chip{
  background-color: #ff9800;
  color: white;
  font-size: .8rem;
  font-weight: 500;
  letter-spacing: 0;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  margin-left: 1rem;
}

.en-stock-chip{
  background-color: #4caf50;
  color: white;
  font-size: .8rem;
  font-weight: 500;
  letter-spacing: 0;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  margin-left: 1rem;
}

.warn-box{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  background-color: #ff9800;
  color: white;
  font-size: .8rem;
  font-weight: 500;
  letter-spacing: 0;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}
