<mat-form-field class="full-width" appearance="outline">
  <mat-label>{{title}}</mat-label>
  <mat-chip-grid #chipGrid>
    <mat-chip-row *ngFor="let filtered of filters.asObservable() | async"
                  (removed)="remove(filtered)"
                  [editable]="true"
                  (edited)="edit(filtered, $event)"
                  [aria-description]="'Appuier pour édité ' + filtered">
      {{filtered}}
      <button matChipRemove [attr.aria-label]="'remove ' + filtered">
        <mat-icon>cancel</mat-icon>
      </button>
    </mat-chip-row>
    <input #filterInput placeholder="Ajouter {{title}}..."
           [formControl]="filterControl"
           [matAutocomplete]="auto"
           [matChipInputFor]="chipGrid"
           [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
           [matChipInputAddOnBlur]="addOnBlur"
           (matChipInputTokenEnd)="add($event)"
           />
  </mat-chip-grid>
  <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected)="valueSelect($event)">
    <mat-option *ngFor="let option of filteredOptions" [value]="option">
      {{option}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
