<article class="presentation-container">
  <header class="presentation-header">
    <div class="title-section">
      <a [routerLink]="['/presentation',presentation.codeCip]"><h1 class="title" matTooltip="{{presentation.medicaments![0].nomMedicament | titlecase}}">{{ presentation.medicaments![0].nomMedicament | titlecase}}</h1></a>
      <h2 class="subtitle">{{ presentation.codeCip }}</h2>
    </div>
    <div class="additional-info">
      <span class="chip">{{presentation.prix}}€</span>
    </div>
  </header>
  <section class="presentation-body">
    <div class="info-container">
      <div matTooltipPosition="left" matTooltip="{{presentation.medicaments![0].fabricant  | titlecase}}">
        <mat-icon class="material-icons-outlined">business_center</mat-icon>
        <span>{{presentation.medicaments![0].fabricant  | titlecase }}</span>
      </div>
      <div matTooltipPosition="left" matTooltip="{{presentation.medicaments![0].formePharmacetique  | titlecase}}">
        <mat-icon class="material-icons-outlined">medication</mat-icon>
        <span>{{presentation.medicaments![0].formePharmacetique  | titlecase}}</span>
      </div>
      <div>
        <mat-icon class="material-icons-outlined">inventory_2</mat-icon>
        <span>{{presentation.stockLogique!}} en stock</span>
      </div>
    </div>
    <p>{{presentation.libellePresentation}}</p>
  </section>
  <section class="presentation-actions">
    <button mat-flat-button color="primary"  (click)="addToCart()"><mat-icon class="material-icons-outlined">shopping_cart</mat-icon> Ajouter au panier</button>
  </section>
</article>
