@import '../../../../../colors';
:host{
  display: flex;
}
.presentation-container{
  display: flex;
  flex-direction: column;
  width: 20rem;
}

.presentation-header{
  display: flex;
  justify-content: space-between;
  gap: 0.75rem;
  .title-section{
    display: flex;
    flex-direction: column;
    flex: 0 1 auto;
    min-width: 0;
    .title{
      font-size: 1.2rem;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      margin-bottom: 0;
    }
    .subtitle{
      margin-top: 0;
      font-size: 1rem;
      color: rgba(0, 0, 0, 0.75);
      font-weight: 400;
    }
  }
}

.presentation-body{
  display: flex;
  flex-direction: column;
  margin-bottom: auto;
  .info-container{
    display: flex;
    flex-direction: column;
    div {
      display: flex;
      align-items: center;
      gap: 0.25rem;
      span {
        font-size: 0.8rem;
        color: rgba(0, 0, 0, 0.75);
        font-weight: 400;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        width: 12rem;
      }
    }
  }
}

.presentation-actions{
  display: flex;
  width: 100%;
  button{
    width: 100%;
    margin: 0.25rem;
  }
}

.additional-info{
  align-self: center;
  .chip{
    padding: .5rem 1rem;
    border-radius: 1rem;
    background-color: rgba($sheen-green,0.25);
    border: 2px solid $sheen-green
  }
}
