<section class="form-case mat-elevation-z1">
<h1 class="mat-headline-1">S'enregistrer</h1>
<form [formGroup]="registerForm" class="from">
  <div class="form-row">
    <mat-form-field appearance="outline">
      <mat-label>Nom</mat-label>
      <input matInput name="lastName" type="text">
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Prénoms</mat-label>
      <input matInput name="firstName" type="text">
    </mat-form-field>
  </div>
  <mat-form-field appearance="outline">
    <mat-label>Email</mat-label>
    <input matInput name="email" type="email">
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Mot de passe</mat-label>
    <input matInput name="firstName" type="password">
  </mat-form-field>
  <button mat-flat-button color="primary" type="submit" class="form-btn">Enregistrer</button>
</form>
</section>
