:host{
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 50vh;
}

.form-case{
  display: flex;
  flex-direction: column;
  max-width: 42rem;
  padding: 1rem 4rem 3rem 4rem ;
  border-radius: 1rem;
  background-color: whitesmoke;
}

.form-row{
  display: flex;
  gap: 1rem;

}

.from{
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.5rem;
}

.form-btn{
  height: 3.5rem;
}
