<div *ngIf="loading" class="loading" [@fade]="loading">
  <h1>Chargement en cours</h1>
  <mat-spinner></mat-spinner>
</div>
<ng-container *ngIf="commande | async as cmd" [@fade]="!loading">
  <h1>Historique de votre commande du {{getLocalDate(cmd.dateValidation!)}}</h1>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Commande numero {{cmd.identifiantCommande!}}</mat-card-title>
      <mat-card-subtitle>{{cmd.commandeStatut | titlecase}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <mat-list>
        <mat-list-item *ngFor="let item of cmd.produitCommandes!">
          <span matListItemTitle>{{item.presentation!.libellePresentation}}</span>
          <span matListItemLine class="align-icon"><mat-icon class="material-icons-outlined">shopping_cart</mat-icon> Qté : {{item.quantite}}</span>
          <span matListItemMeta class="align-icon"><mat-icon class="material-icons-outlined">sell</mat-icon> {{(item.presentation!.prix! * item.quantite!).toLocaleString('fr-FR', {style: 'currency', currency: 'EUR'})}}</span>
        </mat-list-item>
      </mat-list>
      <p>Total : {{calculeTotal(cmd)}}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary">Télécharger la facture</button>
      <button mat-raised-button color="warn" (click)="cancel(cmd)">Annuler la commande</button>
    </mat-card-actions>
  </mat-card>
</ng-container>
