.loading{
  position: absolute;
  top:4rem;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: white;
}

.align-icon{
  display: flex;
  align-items: center;
}
