<section *ngIf="searchConfig |async as search">
  <h1>Recherche</h1>
  <div class="filters">
    <app-filter-auto-complete
      class="search"
      [title]="'Nom Medicament'"
      [filteredOptions]="medicamentOptions"
      [selectedFiltersValue]="search.medicament"
      (changeVal)="updateAutoComplete('medicament',$event)"
      (addFilter)="addFilter('medicament',$event)"
      (removeFilter)="removeFilter('medicament',$event)"
      (editFilter)="editFilter('medicament',$event)">
    </app-filter-auto-complete>
  <app-filter-auto-complete
    [title]="'Fabricant'"
    [filteredOptions]="fabriquantOptions"
    [selectedFiltersValue]="search.fabriquants"
    (changeVal)="updateAutoComplete('fabricant',$event)"
    (addFilter)="addFilter('fabricant',$event)"
    (removeFilter)="removeFilter('fabricant',$event)"
    (editFilter)="editFilter('fabricant',$event)"
  ></app-filter-auto-complete>
  <app-filter-auto-complete
    [title]="'Substance'"
    [filteredOptions]="substanceOptions"
    [selectedFiltersValue]="search.substances"
    (changeVal)="updateAutoComplete('substance',$event)"
    (addFilter)="addFilter('substance',$event)"
    (removeFilter)="removeFilter('substance',$event)"
    (editFilter)="editFilter('substance',$event)"
  ></app-filter-auto-complete>
  <app-filter-auto-complete
    [title]="'Forme'"
    [filteredOptions]="formeOptions"
    [selectedFiltersValue]="search.formes"
    (changeVal)="updateAutoComplete('forme',$event)"
    (addFilter)="addFilter('forme',$event)"
    (removeFilter)="removeFilter('forme',$event)"
    (editFilter)="editFilter('forme',$event)">
  </app-filter-auto-complete>
  <mat-form-field appearance="outline">
    <mat-label>Type Groupe Générique</mat-label>
    <mat-select [formControl]="groupeGenerique" multiple>
      <mat-select-trigger>
        {{generateTitleGroupeGenerique()}}
        <span *ngIf="(groupeGenerique.value?.length || 0) > 1" class="example-additional-selection">
        (+{{(groupeGenerique.value?.length || 0) - 1}} {{groupeGenerique.value?.length === 2 ? 'autre' : 'autres'}})
      </span>
      </mat-select-trigger>
      <mat-option *ngFor="let groupeGenerique of groupeGeneriqueOptions"
                  [value]="groupeGenerique.enum">{{groupeGenerique.label}}</mat-option>
    </mat-select>
  </mat-form-field>
  </div>
</section>
<app-datatable></app-datatable>
