<article class="presentation-container" *ngIf="presentation |async as presentation">
  <div class="content-section">
    <header class="presentation-header">
      <div class="title-section">
        <h1 class="title">{{ presentation.medicaments![0].nomMedicament | titlecase}}</h1>
        <h2 class="subtitle">{{ presentation.codeCip }}</h2>
      </div>
    </header>
    <section class="presentation-body">
      <div class="info-container">
        <div>
          <mat-icon class="material-icons-outlined">business_center</mat-icon>
          <span>{{presentation.medicaments![0].fabricant  | titlecase }}</span>
        </div>
        <div>
          <mat-icon class="material-icons-outlined">medication</mat-icon>
          <span>{{presentation.medicaments![0].formePharmacetique  | titlecase}}</span>
        </div>
        <div>
          <mat-icon class="material-icons-outlined">inventory_2</mat-icon>
          <span>{{presentation.stockLogique!}} en stock</span>
        </div>
      </div>
      <p>{{presentation.libellePresentation}}</p>
      <ng-container *ngIf="prescriptionsDeMedicaments | async as presecriptions ">
        <div *ngIf="presecriptions.length>0">
          <h2>Condtions de prescrition</h2>
          <mat-list>
            <mat-list-item *ngFor="let prescription of presecriptions">
              <span matListItemLine>{{prescription }}</span>
            </mat-list-item>
          </mat-list>
        </div>
      </ng-container>
    </section>
  </div>
  <aside class="presentation-actions">
    <div class="additional-info">
      <span class="chip">{{presentation.prix}}€</span>
    </div>
    <p class="veuillez-text">Veuillez selectionner la quantité</p>
    <div class="counter-container">
      <button mat-icon-button (click)="decrement()">
        <mat-icon>remove</mat-icon>
      </button>
      <mat-form-field [appearance]="'outline'">
        <mat-label>Quantité</mat-label>
        <input matInput [formControl]="formControl" min="1" type="number" placeholder="Quantité">
      </mat-form-field>
      <button mat-icon-button (click)="increment()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
    <ng-container *ngIf="prescriptionsDeMedicaments | async as presecriptions">
      <mat-checkbox *ngIf="presecriptions.length>0" [(ngModel)]="checked">J'accepte les conditions de prescription</mat-checkbox>
    </ng-container>
    <div *ngIf="prescriptionsDeMedicaments | async as presecriptions">
      <button mat-flat-button color="primary"  [disabled]="presecriptions.length>0 && !checked" (click)="addToCart()">
        <mat-icon class="material-icons-outlined">shopping_cart</mat-icon>
        Ajouter au panier
      </button>
    </div>
  </aside>
</article>
