<div class="cart-container">
  <div class="cart-header">
    <div class="tittle-container">
      <h1 class="cart-title">Panier</h1>
    </div>
  </div>
  <div *ngIf="hasProducts() || step==2">
    <div class="progress">
      <mat-progress-bar mode="determinate" color="primary" value="{{getPorcentStep()}}"></mat-progress-bar>
      <div class="progress-text">
        <h3 [ngClass]="{'step-text': step==0}">Composer votre panier</h3>
        <h3 [ngClass]="{'step-text': step==1}">Récapitulatif</h3>
        <h3 [ngClass]="{'step-text': step==2}">Confirmation</h3>
      </div>
      <mat-divider></mat-divider>
    </div>
    <ng-container *ngIf="step==0">
      <app-cart-content [products]="products" (step)="setStep($event)" (edit)="changeQuantity($event)"></app-cart-content>
    </ng-container>
    <ng-container *ngIf="step==1">
      <app-cart-recap [products]="products" (step)="setStep($event)"></app-cart-recap>
    </ng-container>
    <ng-container *ngIf="step==2">
      <app-cart-annulation [commande]="commande" (step)="setStep($event)" (update)="updateCart()"></app-cart-annulation>
    </ng-container>
  </div>

  <div *ngIf="!hasProducts() && step!=2">
    <mat-card class="no-cart">
      <mat-icon color="primary">shopping_cart</mat-icon>
      <h1>Votre panier est actuellement vide</h1>
      <p>Pour effectuer une commande vous devez ajouter des produits à votre panier</p>
      <div class="no-cart-button-container">
        <a mat-raised-button color="primary" id="return-shopping" routerLink="/">Retourner aux produits</a>
        <a mat-raised-button color="primary" routerLink="/history">Historique</a>
      </div>
    </mat-card>
  </div>
</div>

