@import 'src/colors';

.cart-container {
  flex: 1;
  width: 100%;

  .cart-header {
    display: flex;
    padding: 4.6rem 0 5rem;
    background-color: transparent;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    text-align: center!important;
    justify-content: center;

    .title-container {
      padding-left: 10px;
      padding-right: 10px;
      width: 1188px;
      max-width: 100%;

      .cart-title {
        color: #333;
        font-family: 'Open Sans', sans-serif;
        letter-spacing: -.025em;
        margin-bottom: 0;
      }
    }
  }
}

.no-cart-button-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
  flex-wrap: wrap;
  &>*{
    flex: 1;
  }
}

.no-cart {
  min-height: 500px;
  max-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  mat-icon {
    width: 150px;
    height: auto;
    font-size: 150px;
  }
}

.progress {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;

  .progress-text {
    display: flex;
    justify-content: space-between;

    .step-text {
      color: $sheen-green;
    }
  }
}


