<div class="counter-container">
  <button mat-icon-button (click)="decrement()">
    <mat-icon>remove</mat-icon>
  </button>
  <mat-form-field [appearance]="'outline'">
    <input matInput min="1" type="number" value="{{quantite}}" (change)="onChange(quantity.value)" #quantity>
  </mat-form-field>
  <button mat-icon-button (click)="increment()">
    <mat-icon>add</mat-icon>
  </button>
</div>
