.header-container{
  display: flex;
  justify-content: space-around;

  #logo-gromed{
    width: 150px;
    height: auto;
  }
}

.header-right-sub-container{
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
