<section *ngIf="authUserObs | async as user">
  <mat-toolbar class="header-container">
    <a routerLink="/"><img id="logo-gromed" src="./assets/gromed-logo-police-vectorise.svg" alt="logo de gromed"/></a>
    <div>
    </div>
    <div class="header-right-sub-container">
      <a mat-flat-button routerLink="auth/login">
        <mat-icon *ngIf="isUser(user)" class="material-icons-outlined">account_circle</mat-icon>
        <ng-container *ngIf="isUser(user)">{{user.firstName | titlecase}}</ng-container>
        <ng-container *ngIf="!isUser(user)">Se connecter</ng-container>
      </a>
      <a  *ngIf="isUser(user)" mat-icon-button matTooltip="Mon panier" routerLink="cart/cart-recap">
        <mat-icon class="material-icons-outlined">shopping_cart</mat-icon>
      </a>
      <a *ngIf="isUser(user)" mat-icon-button matTooltip="Se déconnecter" (click)="logout()">
        <mat-icon class="material-icons-outlined">logout</mat-icon>
      </a>
    </div>
  </mat-toolbar>
</section>
