<div class="mat-elevation-z2 cart-list">
  <mat-table [dataSource]="products">
    <ng-container matColumnDef="product" class="product-column">
      <mat-header-cell *matHeaderCellDef>Produit</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <div class="product-infos">
          <span class="medic">{{element.presentation.medicaments![0].nomMedicament}}</span>
          <span class="pres">{{element.presentation.libellePresentation}}</span>
        </div>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="price" class="price-column">
      <mat-header-cell *matHeaderCellDef>Prix</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.presentation.prix}}€</mat-cell>
    </ng-container>
    <ng-container matColumnDef="quantity" class="quantity-column">
      <mat-header-cell *matHeaderCellDef>Quantité</mat-header-cell>
      <mat-cell *matCellDef="let element">
        <app-quantity-edit [product]="element" [quantite]="element.quantite"
                           (edit)="emitEdit($event)"></app-quantity-edit>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="total" class="total-column">
      <mat-header-cell *matHeaderCellDef>Total</mat-header-cell>
      <mat-cell *matCellDef="let element">{{totalElementPrice(element)}}€</mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="['product', 'price', 'quantity', 'total']"></mat-header-row>
    <mat-row *matRowDef="let row; columns: ['product', 'price', 'quantity', 'total']"></mat-row>
  </mat-table>
</div>
<div class="cart-summary">
  <table class="table-summary">
    <tbody>
    <tr class="summary-total">
      <td>Total :</td>
      <td>{{totalPrice(products)}}€</td>
    </tr>
    </tbody>
  </table>
  <button mat-raised-button color="primary" class="validate-cart ending-btn" (click)="emitStep(1)">Valider le panier
  </button>
</div>
<div class="button-container">
  <a mat-raised-button color="accent" routerLink="/">Continuer vos achats</a>
  <a mat-raised-button color="primary" routerLink="/history">Historique</a>
</div>

