@import 'src/colors';

.cart-list {
  min-height: 500px;
  max-height: 500px;
  overflow-y: auto;

  .delete-item {
    width: 30px;
    height: 30px;
    font-size: 17px;
  }

  mat-row {
    height: 60px;
  }

  mat-cell, mat-header-cell {
    display: flex;
    justify-content: center;
    align-items: center;
  }

}

.cart-summary {
  padding: 2.5rem 3rem 3rem;
  border: 0.1rem dashed #d7d7d7;
  background-color: transparent;
  border-radius: 0.3rem;
  margin-top: 2rem;
  margin-bottom: 2rem;

  .table-summary {
    line-height: 1.86;
    color: #666;
    border: none;
    margin-bottom: 0;
    margin-bottom: 3rem;
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    border-collapse: collapse;

    .products-summary {
      color: #333;
      font-weight: 400;
      font-size: 1.6rem;

      td {
        padding-top: 2rem;
        padding-bottom: 1.3rem;
        height: auto;
        border-bottom: none;
      }
    }

    .summary-total {
      td {
        color: $sheen-green;
        font-weight: 400;
        font-size: 1.6rem;
        border-bottom: none;
        vertical-align: middle;
        border-top: none;
        padding: 0;
        height: 70px;
        border-bottom: 0.1rem solid #ebebeb;
      }
    }
  }
}

.quantity-container {
  display: flex;
  flex-direction: row;

  .input-quantity {
    width: 33px;
    text-align: center;
  }

  .quantity-btn {
    min-width: 25px;
    max-width: 25px;
    min-height: 25px;
    max-height: 25px;
    font-size: 15px;
  }
}

.ending-btn {
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0.85rem 1.5rem;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.5;
  letter-spacing: -.01em;
  min-width: 170px;
  border-radius: 0;
  white-space: normal;
  transition: all .3s;
}

.product-infos{
  display: flex;
  flex-direction: column;

  .pres {
    font-size: 10px;
  }
}

mat-row {
  min-height: 4rem !important;
  height: auto !important;
}

mat-cell {
  display: flex;
}

.button-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 1rem;
  &>*{
    flex: 20rem 1;
  }
}
