<div class="annulation-content">
  <mat-icon color="primary">thumb_up</mat-icon>
  <h2>Merci pour votre commande</h2>
  <h5>Vous pouvez encore annuler votre commande dans les 30 prochaines minutes</h5>
  <p>(ceci écrasera votre commande, les produits ne seront pas remis dans votre panier)</p>
  <a mat-raised-button color="warn" routerLink="/history">Annuler la commande</a>
  <a mat-raised-button color="accent" routerLink="/search">Retour à l'accueil</a>
</div>
