.annulation-content {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  mat-icon {
    width: 100px;
    height: 100px;
    font-size: 100px;
  }

  h5 {
    font-size: 21px;
  }

  button {
    margin: 20px;
  }
}
