:host{
  display: flex;
  flex-direction: column;
  width: 20rem;
}

.title{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-bottom: 0;
}

.counter-container{
  display: flex;
  align-items: stretch;
  justify-content: center;
}

.actions{
  display: flex;
  justify-content: space-between;
  gap: 0.75rem;
}
