<h1 mat-dialog-title class="title">{{data.presentation.medicaments![0].nomMedicament}}</h1>
<div mat-dialog-content>
  <p>En quelle quantité le voulez vous ?</p>
  <div class="counter-container">
    <button mat-icon-button (click)="decrement()">
      <mat-icon>remove</mat-icon>
    </button>
  <mat-form-field [appearance]="'outline'">
    <mat-label>Qantité</mat-label>
    <input matInput [formControl]="formControl" min="1" type="number" placeholder="Quantité">
  </mat-form-field>
    <button mat-icon-button (click)="increment()">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</div>
<div mat-dialog-actions class="actions">
  <button mat-stroked-button (click)="onNoClick()">Annuler</button>
  <button mat-stroked-button [mat-dialog-close]="data" color="primary">Ajouter au panier</button>
</div>
