<section class="form-case mat-elevation-z1" *ngIf="authUserObs | async as user">
  <ng-container *ngIf="!isUser(user);else connected">
    <h1 class="mat-headline-1">SE CONNECTER</h1>
    <form [formGroup]="loginForm" class="from" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput name="email" [formControl]="loginForm.controls['email']" type="email">
        <mat-error *ngIf="checkError('email', 'required')">L'email doit être renseigné</mat-error>
        <mat-error *ngIf="checkError('email', 'maxLength')">L'email et trop long</mat-error>
        <mat-error *ngIf="checkError('email', 'email')">L'email n'est pas valide</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Mot de passe</mat-label>
        <input matInput name="password" [formControl]="loginForm.controls['password']" type="password">
        <mat-error *ngIf="checkError('password', 'required')">Le mot de passe doit être renseigné</mat-error>
      </mat-form-field>
      <button mat-flat-button color="primary" type="submit" class="form-btn">Se connecter</button>
    </form>
  </ng-container>
  <ng-template #connected>
    <h1 class="mat-headline-1">{{user.firstName}} vous êtes déjà connecté(e)</h1>
    <button mat-flat-button color="primary" type="button" class="form-btn" (click)="logout()">Se déconnecter</button>
  </ng-template>
</section>

