/* SCSS HEX */
$sheen-green: #6ce200ff;
$dark-pastel-green: #38bd4fff;
$green-pigment: #2daa55ff;
$shamrock-green: #21975aff;
$ao-green: #008500ff;
$cerulean-crayola: #1ea7cfff;
$blue-jeans: #38b6ffff;
$blue-of-france: #2987D9ff;

/* SCSS HSL */
$sheen-green: hsla(91, 100%, 44%, 1);
$dark-pastel-green: hsla(130, 54%, 48%, 1);
$green-pigment: hsla(139, 58%, 42%, 1);
$shamrock-green: hsla(149, 64%, 36%, 1);
$cerulean-crayola: hsla(194, 75%, 46%, 1);
$blue-jeans: hsla(202, 100%, 61%, 1);

/* SCSS RGB */
$sheen-green: rgba(108, 226, 0, 1);
$dark-pastel-green: rgba(56, 189, 79, 1);
$green-pigment: rgba(45, 170, 85, 1);
$shamrock-green: rgba(33, 151, 90, 1);
$cerulean-crayola: rgba(30, 167, 207, 1);
$blue-jeans: rgba(56, 182, 255, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #6ce200ff, #38bd4fff, #2daa55ff, #21975aff, #1ea7cfff, #38b6ffff);
$gradient-right: linear-gradient(90deg, #6ce200ff, #38bd4fff, #2daa55ff, #21975aff, #1ea7cfff, #38b6ffff);
$gradient-bottom: linear-gradient(180deg, #6ce200ff, #38bd4fff, #2daa55ff, #21975aff, #1ea7cfff, #38b6ffff);
$gradient-left: linear-gradient(270deg, #6ce200ff, #38bd4fff, #2daa55ff, #21975aff, #1ea7cfff, #38b6ffff);
$gradient-top-right: linear-gradient(45deg, #6ce200ff, #38bd4fff, #2daa55ff, #21975aff, #1ea7cfff, #38b6ffff);
$gradient-bottom-right: linear-gradient(135deg, #6ce200ff, #38bd4fff, #2daa55ff, #21975aff, #1ea7cfff, #38b6ffff);
$gradient-top-left: linear-gradient(225deg, #6ce200ff, #38bd4fff, #2daa55ff, #21975aff, #1ea7cfff, #38b6ffff);
$gradient-bottom-left: linear-gradient(315deg, #6ce200ff, #38bd4fff, #2daa55ff, #21975aff, #1ea7cfff, #38b6ffff);
$gradient-radial: radial-gradient(#6ce200ff, #38bd4fff, #2daa55ff, #21975aff, #1ea7cfff, #38b6ffff);
