
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Importe the provided gromed brand colors
@import "colors";

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$GroMedFront-primary-palette:(
  100: $sheen-green,
  200: $dark-pastel-green,
  300: $green-pigment,
  400: $shamrock-green,
  700: $ao-green,
  contrast: (
    100: rgba(black, 0.58),
    200: rgba(black, 0.64),
    300: rgba(white, 0.95),
    400: rgba(white, 0.82),
    700: rgba(white, 0.70),
  )
);

$GroMedFront-accent-palette:(
  100:$blue-jeans,
  200:$cerulean-crayola,
  700:$blue-of-france,
  contrast:(
    100: rgba(black, 0.64),
    200: rgba(black, 0.70),
    700: rgba(black, 0.80),
  )
);


$GroMedFront-primary: mat.define-palette($GroMedFront-primary-palette,100);
$GroMedFront-accent: mat.define-palette($GroMedFront-accent-palette, 100, 200);

// The warn palette is optional (defaults to red).
$GroMedFront-warn: mat.define-palette(mat.$red-palette);

// Create the font style of gromed
// First import the fonts
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&family=Open+Sans:wght@300;400&display=swap');

//Use outlined font
@import url("https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined");

$GroMedFront-typography-config: mat.define-typography-config(
  $headline-1: mat.define-typography-level(7rem, 7rem, 300, 'Open Sans',-0.05em),
  $headline-2: mat.define-typography-level(3.5rem, 3.5rem, 400, 'Open Sans', -0.02em),
  $headline-3: mat.define-typography-level(2.8rem, 2.9rem, 400, 'Open Sans', -0.005em),
  $headline-4: mat.define-typography-level(2.2rem, 2.5rem, 400, 'Open Sans'),
  $headline-5: mat.define-typography-level(1.5rem, 2rem, 400,'Open Sans'),
  $headline-6: mat.define-typography-level(1.3rem, 1.8rem, 400,'Open Sans'),
  $subtitle-1: mat.define-typography-level(1.2rem, 1.6rem, 300,'Open Sans', 0.02em),
  $subtitle-2: mat.define-typography-level(1.1rem, 1.5rem, 300,'Open Sans', 0.03em),
  // We apologize for the inconvenience caused. Due to technical limitations (and probably cause I hate it),
  // we were unable to use Arial with Google Fonts.
  // As an alternative, we have selected Lato font which closely resembles the original look of Arial.
  $body-1: mat.define-typography-level(1rem, 1.2rem, 400,'Lato', 0.04em),
  $body-2: mat.define-typography-level(0.9rem, 1.1rem, 300,'Lato', 0.05em),
  $caption: mat.define-typography-level(0.8rem, 1rem, 300,'Lato', 0.06em),
  $button: mat.define-typography-level(1rem, 1.2rem, 700,'Lato', 0.07em),
  $overline: mat.define-typography-level(0.9rem, 1rem, 100,'Lato', 0.08em),
);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$GroMedFront-theme: mat.define-light-theme((
  color: (
    primary: $GroMedFront-primary,
    accent: $GroMedFront-accent,
    warn: $GroMedFront-warn,
  ),
  typography:$GroMedFront-typography-config
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($GroMedFront-theme);

/* You can add global styles to this file, and also import other style files */
html, body { height: 100%; }
body { margin: 0; font-family: "Open Sans", "Lato", sans-serif; }
.success-snackbar { background-color: $green-pigment; }
.error-snackbar { background-color: mat.get-color-from-palette($GroMedFront-warn,A200); }
