.presentation-container{
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 5rem 1rem;
  margin: 1rem;
  justify-items: center;
}

@media screen and (max-width: 105rem) {
  .presentation-container{
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (max-width: 85rem) {
  .presentation-container{
    grid-template-columns: 1fr 1fr;
  }
}
