<app-detail-produit></app-detail-produit>
<section *ngIf="generiquePreseObservable | async as presentationGen">
  <ng-container>
    <h3>Groupe Générique</h3>
    <div class="presentation-container" [@listAnimation]="presentationGen" >
      <app-presentation-card *ngFor="let presentation of presentationGen" [presentation]="presentation" (cardClicked)="ajouterAuPanier($event)"></app-presentation-card>
    </div>
  </ng-container>
</section>
