<h1>Historique de vos commandes</h1>
<mat-table [dataSource]="commandsHistory" >
  <ng-container matColumnDef="identifiantCommande">
    <mat-header-cell *matHeaderCellDef> No. </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.identifiantCommande}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="dateValidation">
    <mat-header-cell *matHeaderCellDef> Date </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{parseDate(element.dateValidation)}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="commandeStatut">
    <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.commandeStatut}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="prix">
    <mat-header-cell *matHeaderCellDef> Prix </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{getPrice(element)}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef></mat-header-cell>
    <mat-cell *matCellDef="let element">
      <a mat-button [routerLink]="[element.identifiantCommande]">Details</a>
      <button *ngIf="element.commandeStatut==='VALIDEE'" color="warn" mat-button (click)="cancelCmd(element)">Annuler</button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;" @rowAnimation></mat-row>
</mat-table>
<mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
